<h1>Meal Tracker</h1>
<div class="container">
<div (click)="showDetails(food)"  *ngFor="let food of foods">
	<p>Name: {{food.name}}</p>
	<p>Details: {{food.details}}</p>
	<p>Calories: {{food.calories}}</p>
	<button class="btn btn-primary" (click)="showDetails(food)">Edit</button>
</div>
<div *ngIf="selectedMeal">
<h1>Edit Task</h1>
<div>
      <label>Enter Meal Name:</label>
      <input [(ngModel)]="selectedMeal.name">
    </div>
    <div>
      <label>Enter Meal Description:</label>
      <input [(ngModel)]="selectedMeal.details">
    </div>
    <div>
      <label>Enter Meal Calories:</label>
      <input [(ngModel)]="selectedMeal.calories">
       <button (click)="finishedEditing()">Done</button>
    </div>
 </div>
</div>
  