<h1>Add Food</h1>
<form>
	<div class="form-group">
    <label>Enter Name:</label>
    <input #newName>
  </div>

  <div>
    <label>Enter Details:</label>
    <input #newDetails>
  </div>

  <div>
    <label>Enter Calories:</label>
    <input #newCalories>
    <button class="btn btn-info" (click)=
     "addClicked(newName.value,newDetails.value,newCalories.value);
     			newName.value='';
     			newDetails.value='';
     			newCalories.value='';
     			"><i class="fa fa-plus" aria-hidden="true"></i> Add
    </button>
  </div>
</form>